# Системные файлы
.DS_Store
Thumbs.db

# Папки виртуальных окружений
venv/
env/
.venv/
.env/

# Файлы кэша
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы логов
*.log

# Прочие файлы
*.md
.git/
.gitignore
LICENSE