# Системные файлы
.DS_Store
Thumbs.db

# Папки виртуальных окружений
venv/
env/
.venv/
.env/

# Файлы кэша
__pycache__/
*.py[cod]

# Логи
*.log

# Конфигурационные файлы
*.env

# VSCode
.vscode/

# Прочие файлы
test.py